<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= todaySday %>
        </h1>
    </div>
    <div class="box">


        <% nextItems.forEach(function(nextItem){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%=nextItem._id%>" onchange="this.form.submit()">
                    <p>
                        <%= nextItem.name%>
                    </p>
                </div>
                <% }) %>
            </form>
    </div>


    <form action="/" method="post" class="box">
        <input type="text" name="nextTask" placeholder="new" autocomplete="off">
        <button type="submit">+</button>
    </form>
</body>

</html>